#title{
  font-family: Roboto;
  font-weight: 300;
  font-size: 2em;
  line-height: 75px;
  text-transform: uppercase;
  text-align: center;
}

body{
  background-color: #ffddd3;
}


img{
  height: 25px;
  text-align: center;
}

table{
  border-style: solid;
}
